<link rel="alternate" type="application/atom+xml" title="BTC War updates" href="{{ '/feed.xml' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="BTC War Market Guides RSS" href="{{ '/rss.xml' | relative_url }}">
<link rel="alternate" type="application/feed+json" title="BTC War Market Guides" href="{{ '/feed.json' | relative_url }}">
<link rel="describedby" type="application/ld+json" title="BTC War entity graph" href="{{ '/about.jsonld' | relative_url }}">
<link rel="author" href="https://medium.com/@binbinwangt">
